* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

#root {
    background-color: #7FFFD4;
}

header {
    background-color: #1D2D44;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 24px;
    color: #EAD637;
}

.container {
    height: 100vh;
    width: 80%;
    margin: auto;
    display: flex;
}

.carousel {
    margin: auto;
    width: 600px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel i {
    font-size: 30px;
    cursor: pointer;
    color: #1D2D44;
}

.carousel img {
    width: 80%;
}